/*偏好modal*/
.preference_card {
  margin-top: 18px !important;
  opacity: 1;
  cursor:pointer;
}

.preference_card:hover {
  opacity: 0.7;
  cursor: pointer;
}


/*自动补全*/
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  color: #333;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 360px;
  border: 1px solid #cce2ff;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 14px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

/*时间选择*/

.DayPicker-Day--today {
  color: black;
  font-weight: 700;
}

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  left: 0;
  z-index: 1;
  position: absolute;
  background: #666;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #51a0fa;
  border-radius: 50%;
}

/*公有组件*/
.ui.statistic:last-child {
  padding-top: 8px;
}
body {
  font-family: 'MicroSoft YaHei';
}


/*首页*/
/**.welcome_div {
  background-image: url('http://ojtlrnjhy.bkt.clouddn.com/2017-12-08-hero_bg.jpg') !important;
  opacity: 0.8;
}**/
.slogan_div {
	float:left;
	width:500px !important;
}

.slogan_form {
	width: 430px !important;
	height: 400px !important;
	background-color: #EAECEE;
  z-index: 0;
	border-radius: 5px;
	float:right;
	padding: 5em 2em;
	margin: 3.5em 1.5em 0 0;
}

.slogan_form_row {
  margin-bottom: 2em !important;
}

.rec_content {
  margin-bottom: 3em !important;
  opacity: 1;
  cursor:pointer;
}

.rec_content:hover {
  opacity: 0.7;
  cursor: pointer;
}


/**路线**/
.line_loading_div {
  height: 600px;
}


.recline-body {
  background-color: rgba(242, 242, 242, .5);
}

.recline-wrap{
  width:1400px;
  margin: auto;
}

.line_title_div {
  margin-top: 100px !important;
  padding: 3em 0 !important;
}

.line_title_main {
  margin-bottom: 30px;
  font-size: 48px;
  letter-spacing: 8px;
  color: #453D3D;
}

.line_title_sub {
  font-size: 20px !important;
  color: #99A3A4 !important;
}

.line_list_div {
    margin: 0 3em 3em 3em;
    /* border: 1px #EAECEE solid; */
    padding: 0 2em 2em 2em;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 4px #d7d7d7;
}

.line_list_label {
  font-size: 14px !important;
  margin-left: 7px !important;
}

.line_detail_div {
  border-top: 1px #333 solid;
}

.recline_map {
  /* height: 600px; */
}

/* .line_info_div {
  text-align: center;
  padding: 10px 0;
} */

.line_info_div .list{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.line_info_div .list .item{
  display: flex !important;
  align-items: center;
}

.line_info_div .list .item .statistic{
  padding: 0;
}

.line_grid_row {
  padding: 2em 0 4em 0!important;
  background: #fff;
  /* border-top: 1px #CACFD2 solid; */
}

.place_refresh_div {
  cursor: pointer;
  display: inline-block;
}

.place_total {
  font-size: 18px;
}

.place_total img {
  display: inline-block !important;
  margin-right: 15px;
  width: 50px;
}

.place_tags {
  margin-left: 60px;
}

.place_text {
  display: -webkit-box;   
  -webkit-box-orient: vertical;   
  -webkit-line-clamp: 5;   
  overflow: hidden;  
  margin: 20px 0 20px 60px;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  /* max-height: 90px; */
}

.place_imgs {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 60px;
}

.place_imgs img {
  width: 22% !important;
  height: 140px;
  border-radius: 4px;
  margin-right: 12px !important;
}

.place-more-img{
  position: absolute;
  right: 0;
  font-size: 30px !important;
  color: #999;
}

.line_div {
  padding: 40px 0; 
  color: #333;
  font-size: 18px;
  /* border-left: 2px #21ba45c7 solid;  */
}

.line_div img {
  display: inline-block !important;
  margin-right: 15px;
  width: 50px;
}

.place_div_modal {
  width: 90%;
  margin: 1em auto;
  padding-bottom: 2em;
  border-bottom:1px #CACFD2 solid; 
}

.trip-item{
  /* background: #21ba45 !important; */
}

.menu .item{
  font-weight: bold !important;
}

.menu .item h1{
  font-size: 24px;
}

.menu .active{
  background: #21ba45 !important;
  color: #fff !important;
}

.menu .active h1{
  font-size: 28px;
}

.header-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: #cfcfcf 0 8px 16px -8px;
}

.header-nav h1{
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  color: #1fa53e;
}

.nav-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  margin: auto;
  width: 1400px;
  height: 100px;
}

.nav-feature{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-feature .active{
  border-bottom: #1fa53e 3px solid
}

.nav-feature div{
  margin: 0 30px;
  padding: 14px 0;
  font-size: 24px;
  font-weight: bold;
  color: #1fa53e;
}

.nav-feature div:nth-child(3){
  margin: 0 90px 0 30px;
}

.images img{
  height: 140px !important;
}

.place_div{
  /* border-left: 2px #21ba45c7 solid; */
  /* margin-bottom: 40px; */
}

.divider{
  margin: 40px auto;
  width: 90%;
  height: 2px;
  background: #d7d7d7;
}

.map-day{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 100;
  top: 5px;
  right: 14px;
  max-width: 300px;
  height: 40px;
}

.map-day-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#fff;
  border: rgb(3, 179, 3) 1px solid;
  color: #000;
  font-weight: bold;
}

.map-day-active{
  background: rgb(3, 179, 3);
  color: #fff;
}

.place-day{
  margin: 0 0 40px 0;
  padding-bottom: 40px;
  border-left: 2px #5eda7b solid;
  border-radius: 16px;
  box-shadow: #d7d7d7 0px 20px 20px -20px;
}

.place-anchor{
  transform: translateY(-100px);
}